.header-wrap {
    display: flex;
    justify-content: space-between;
}

.main-title {
    border: 1px solid rgb(235, 125, 0);
    background-color: rgb(241, 221, 35);
    padding: 10px;
    border-radius: 10px;
}
.search-header {
    border: 1px solid rgb(235, 114, 0);
    background-color: rgb(230, 152, 62);
    border-radius: 10px;
    text-align: center;
    width: 400px;
}
.drop-list {
    border: 2px solid rgb(3, 129, 41);
    background-color: rgb(52, 233, 16);
    border-radius: 10px;
}
