.picture-list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: relative;
}
.picture-list-content {
<<<<<<< HEAD
   display: flex;
   flex-direction: column;
   max-width: 150px;
   margin: 10px;
}

.picture-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 200px;
   overflow: hidden;
   border: 1px solid black;
   background-color: white;
   border-radius: 10px;
   position: relative;
   margin: 0px 0 10px;
=======
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    margin: 10px;
}

.picture-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 0px 0 10px;
>>>>>>> f2f2d666ec673b1c3a9a900d685a7232d24dc6a6
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(
      0,
      0,
      0,
      0
   ); /* Настройка цвета и прозрачности для блока с заголовком */
   transition: background 0.5s ease;
}
.picture-img:hover .overlay {
<<<<<<< HEAD
   display: block;
   background: rgba(
      0,
      0,
      0,
      0.2
   ); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
=======
    display: block;
    background: rgba(
        0,
        0,
        0,
        0.3
    ); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
>>>>>>> f2f2d666ec673b1c3a9a900d685a7232d24dc6a6
}
.picture-pinterest {
   height: 100%;
   background-color: white;
}
.picture-button {
<<<<<<< HEAD
   position: absolute;
   top: 80%;
   left: 75%;
   /* background-color: #1fc709; */
   border: 1px solid rgb(95, 94, 94);
   font-size: 150%; /*1.900em */
   text-align: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: local;
   opacity: 0;
   transition: opacity 0.35s ease;
   cursor: pointer;
=======
    position: absolute;
    top: 85%;
    left: 75%;
    /* border: 1px solid rgb(95, 94, 94); */
    /* border: 1px solid rgb(233, 28, 28); */
    border: 1px solid white;
    font-size: 150%; /*1.900em */
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: local;
    opacity: 0;
    transition: opacity 0.35s ease;
    color: white;
    cursor: pointer;
>>>>>>> f2f2d666ec673b1c3a9a900d685a7232d24dc6a6
}

.picture-img:hover .picture-button {
   opacity: 1;
}

.picture-user {
<<<<<<< HEAD
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   margin-bottom: 10px;
   background: local;
}
.user-img {
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: #86878b; */
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
=======
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 10px;
    background: local;
}
.user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #86878b; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 10px;
>>>>>>> f2f2d666ec673b1c3a9a900d685a7232d24dc6a6
}
.user-img img {
   height: 100%;
}
.user-text {
<<<<<<< HEAD
   font-size: 10px;
   color: #090d1f;
   background: local;
=======
    font-size: 14px;
    color: #090d1f;
    background: local;
    font-family: cursive;
>>>>>>> f2f2d666ec673b1c3a9a900d685a7232d24dc6a6
}
