.picture-list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: relative;
}
.picture-list-content {
   display: flex;
   flex-direction: column;
   max-width: 150px;
   margin: 10px;
}

.picture-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 200px;
   overflow: hidden;
   border: 1px solid black;
   background-color: white;
   border-radius: 10px;
   position: relative;
   margin: 0px 0 10px;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(
      0,
      0,
      0,
      0
   ); /* Настройка цвета и прозрачности для блока с заголовком */
   transition: background 0.5s ease;
}
.picture-img:hover .overlay {
   display: block;
   background: rgba(
      0,
      0,
      0,
      0.2
   ); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
}
.picture-pinterest {
   height: 100%;
   background-color: white;
}
.picture-button {
   position: absolute;
   top: 80%;
   left: 75%;
   /* background-color: #1fc709; */
   border: 1px solid rgb(95, 94, 94);
   font-size: 150%; /*1.900em */
   text-align: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: local;
   opacity: 0;
   transition: opacity 0.35s ease;
   cursor: pointer;
}

.picture-img:hover .picture-button {
   opacity: 1;
}

.picture-user {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   margin-bottom: 10px;
   background: local;
}
.user-img {
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: #86878b; */
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
}
.user-img img {
   height: 100%;
}
.user-text {
   font-size: 10px;
   color: #090d1f;
   background: local;
}
